In [47]:
import pandas as pd
import matplotlib as plt
import os
from glob import glob

In [49]:

# Path to the folder containing the CSV files
data_folder = 'data'

# Get all CSV files inside the data folder
csv_files = glob(os.path.join(data_folder, '*.csv'))

# List to hold each stock's DataFrame
dfs = []

for file in csv_files:
    # Extract stock name from filename
    stock_name = os.path.splitext(os.path.basename(file))[0]
    
    # Load CSV and add 'name' column
    df = pd.read_csv(file)
    df['name'] = stock_name
    
    # Append to list
    dfs.append(df)

# Combine all into one DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Optional: check result
print(combined_df.head())

         Date  Adj Close      Close       High        Low       Open  \
0  1999-11-18  26.511736  31.473534  35.765381  28.612303  32.546494
1  1999-11-19  24.327528  28.880545  30.758226  28.478184  30.713518
2  1999-11-22  26.511736  31.473534  31.473534  28.657009  29.551144
3  1999-11-23  24.101582  28.612303  31.205294  28.612303  30.400572
4  1999-11-24  24.741781  29.372318  29.998213  28.612303  28.701717

       Volume name
0  62546380.0    A
1  15234146.0    A
2   6577870.0    A
3   5975611.0    A
4   4843231.0    A

C:\Users\utkub\AppData\Local\Temp\ipykernel_19780\1606929036.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dfs, ignore_index=True)

In [50]:
combined_df['percent_movement'] = (combined_df['Open'] - combined_df['Close']) / combined_df['Close'] * 100
combined_df.head()

,Date,Adj Close,Close,High,Low,Open,Volume,name,percent_movement
0,1999-11-18,26.511736,31.473534,35.765381,28.612303,32.546494,62546380.0,A,3.409086
1,1999-11-19,24.327528,28.880545,30.758226,28.478184,30.713518,15234146.0,A,6.346741
2,1999-11-22,26.511736,31.473534,31.473534,28.657009,29.551144,6577870.0,A,-6.107957
3,1999-11-23,24.101582,28.612303,31.205294,28.612303,30.400572,5975611.0,A,6.250000
4,1999-11-24,24.741781,29.372318,29.998213,28.612303,28.701717,4843231.0,A,-2.283105

In [58]:
combined_df.to_csv('clean_data.csv')